* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: Roboto;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: inherit;
}

// fix for svg stuttering / rerender (disable on mobiles, when map isn't visible?)
html *:not(svg) {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}